.numerals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
}

.num-item {
  display: flex;
  width: 100%;
  height: 70px;
  border: 1px solid #a4a4a4f9;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
}

.num-item.top-num {
  justify-content: flex-end;
  padding-right: 10px;
  background: #858694;
  color: #fff;
}

.num-item.bottom-num {
  width: 210%;
}

.num-item.orange {
  background-color: #f2913e;
  border: 1px solid #e0e0e0;
}

.zero-div {
  display: flex;
  width: 40%;
  margin: auto;
}

.top-div {
  margin-top: 20px;
}
